.Noticia_comentarios_list{
	&-order{
		display: flex;
		margin-bottom: $margin4-desktop;

		@media (--mobile-big){
			justify-content: space-between;
		}

		&-votes{
			padding: 15px;

			p{
				margin: 0;
			}
		}

		&-new{
			padding: 15px;
			background-color: $blue;
			border-radius: $radius;
			cursor: pointer;

			p{
				margin: 0;
				color: white;
			}
		}
	}

	&-comments{
		position: relative;
		height: 500px;
		padding: 2px;
		overflow-y: scroll;
		background-color: $gray-soft;
		margin-bottom: $margin5-desktop;

		/* Textarea and buttons to send comments */
		&-create{
			top: 0;
			position: absolute;
			width: 99%;
			height: 100%;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transform-origin: 0 100%;
			transform: scale(0.2);
			transition: .4s ease-in;

			&-cancel{
				position: absolute;
		    bottom: 266px;
		    z-index: 10;
		    right: 20px;
		    width: 20px;
		    cursor: pointer;
			}

			textarea{
				width: 100%;
				height: 50%;
				box-sizing: border-box;
				padding: 15px;
				position: absolute;
				display: block;
				margin: 0 auto;
				bottom: 40px;
				@mixin boxShadow;
			}

			&-buttons{
				&-enviar{
					@mixin normalButton;
					position: absolute;
					bottom: 0;
					width: 100%;
					border-radius: 0 0 5px 5px;
					border: 2px solid $blue;
				}

				&-enviar:hover{
					background-color: $gray-soft;
					color: $blue-soft;
					border: 2px solid $blue-soft;
				}
			}
		}
	}
}

/* Styles when opening comment*/
.create-comment-opened{
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	transform: scale(1);
}
