.Noticias_comentarios_card{
	background-color: white;
	padding: 30px 20px 20px 30px;
	margin-bottom: 4px;
	position: relative;

	&-counter{
		position: absolute;
		top: 5px;
		left: 5px;
		margin: 0;
		font-size: .8em;
		font-weight: 700;
		background-color: #f1f1f1;
		border-radius: 2px;
		padding: 3px 5px;
	}

	&-user{
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;

		&-info{

			&-username{
				margin: 0;
				font-weight: 700;
				font-size: $comment-card;
			}
		}

		&-date{
			margin: 0;
			font-style: italic;
			font-size: $comment-card;
		}
	}

	&-comment{
		margin: 0;
		padding-bottom: 15px;
		border-bottom: 2px solid $gray-soft;
		font-size: $comment-card;
		line-height: 1.45em;
	}

	&-feedback{
		display: flex;
		justify-content: space-between;
		margin-top: 15px;

		&-like{
			display: flex;
			margin-top: 3px;

			&-icon{
				@mixin likeCommentSprite;
				background: no-repeat url(/img/sprite.svg) -2px -40px;

				&-liked{
					@mixin likeCommentSprite;
					background: no-repeat url(/img/sprite.svg) -2px -19.5px;
				}
			}

			&-counter{
				margin: 0;
				font-size: $comment-card;
			}

			span{
				padding-left: 6px;
				margin: 0;
				font-size: $comment-card;
			}
		}
	}

	&-error{
		padding-top: 10px;
		color: $red;
		font-size: 0.8em;
		font-weight: 700;
	}
}
