.Noticia_comentarios{
	padding-top: $margin2-desktop;
	margin-bottom: $margin1-desktop;

	&-encabezado{
		@mixin sectionDivider;
	}

	&-comentarios{
		display: flex;
		justify-content: space-between;
		@mixin noTapHighlight;

		@media (--mobile-big){
			display: block;
		}

		&-agree{
			width: 50%;
			padding-right: 30px;

			@media (--mobile-big) {
				@mixin commentsHeaderMobile;
			}

			&-header{	
				display: flex;
				justify-content: space-between;

				@media (--mobile-big) {
					@mixin commentsHeaderMobile;
					border: 2px solid $green;
				}

				&-title{
					font-weight: 700;
				}

				&-arrow{
					display: none;

					@media (--mobile-big){
						display: block;
						padding: 0 30px;
					}
				}

				&-votes{
					display: flex;

					&-counter{
						color: $green;
						padding-right: $margin4-desktop;
					}

					&-icon{
						cursor: pointer;

						&-liked{
							display: none;
							cursor: pointer;
						}
					}
				}

			}
		}

		&-disagree{
			width: 50%;
			padding-left: 30px;

			@media (--mobile-big) {
				@mixin commentsHeaderMobile;
			}

			&-header{
				display: flex;
				justify-content: space-between;
				
				@media (--mobile-big) {
					@mixin commentsHeaderMobile;
					border: 2px solid $red;
				}

				&-title{
					font-weight: 700;
				}

				&-arrow{
					display: none;

					@media (--mobile-big){
						display: block;
						padding: 0 30px;
					}
				}

				&-votes{
					display: flex;

					&-counter{
						color: $red;
						padding-right: $margin4-desktop;
					}
					&-icon{
						cursor: pointer;

						&-liked{
							display: none;
							cursor: pointer;
						}
					}
				}
			}
		}

		&-buttons{
			display: flex;
			justify-content: space-between;

			&-agree{
				@mixin bigButton;
				@mixin voteBarGreen;
				width: 47%;
				padding: 10px;
				font-size: 1em;
			}

			&-agree:hover{
				gradient: none;
				background: $green;
			}

			&-disagree{
				@mixin bigButton;
				@mixin voteBarRed;
				width: 47%;
				padding: 10px;
				font-size: 1em;
			}

			&-disagree:hover{
				gradient: none;
				background: $red;
			}

			&-comment{
				@mixin bigButton;
				width: 47%;
				padding: 10px;
				font-size: 1em;
			}

			&-comment:hover{
				@mixin hoverButton;
			}
		}
	}
}