.Noticia_comentarios{
	padding-top: $margin2-desktop;

	&-encabezado{
		@mixin sectionDivider;
	}

	&-comentarios{
		display: flex;
		justify-content: space-between;

		&-up{
			width: 50%;
			padding-right: 30px;
			&-header{	
				display: flex;
				justify-content: space-between;

				&-title{
					font-weight: 700;
				}

				&-votes{
					color: $green;
				}

				&-icon{
					cursor: pointer;
				}
			}
		}

		&-down{
			width: 50%;
			padding-left: 30px;
			&-header{
				display: flex;
				justify-content: space-between;

				&-title{
					font-weight: 700;
				}

				&-votes{
					color: $red;
				}

				&-icon{
					cursor: pointer;
				}
			}
		}

		&-buttons{
			display: flex;
			justify-content: space-between;

			&-agree{
				@mixin bigButton;
				@mixin voteBarGreen;
				width: 47%;
				padding: 10px;
				font-size: 1em;
			}

			&-agree:hover{
				gradient: none;
				background: $green;
			}

			&-disagree{
				@mixin bigButton;
				@mixin voteBarRed;
				width: 47%;
				padding: 10px;
				font-size: 1em;
			}

			&-disagree:hover{
				gradient: none;
				background: $red;
			}

			&-comment{
				@mixin bigButton;
				width: 47%;
				padding: 10px;
				font-size: 1em;
			}

			&-comment:hover{
				@mixin hoverButton;
			}
		}
	}


}