.Noticia_comentarios_list{
	&-order{
		display: flex;
		margin-bottom: $margin4-desktop;

		&-votes{
			padding: 15px;


			p{
				margin: 0;
			}
		}

		&-new{
			padding: 15px;
			background-color: $blue;
			border-radius: $radius;
			cursor: pointer;

			p{
				margin: 0;
				color: white;
			}
		}
	}

	&-comments{
		height: 500px;
		overflow-y: scroll;
		background-color: $gray-soft;
		margin-bottom: $margin5-desktop;
	}
}