.Noticia_comentarios{
	padding-top: $margin2-desktop;
	margin-bottom: $margin1-desktop;

	&-encabezado{
		@mixin sectionDivider;
	}

	&-comentarios{
		display: flex;
		justify-content: space-between;
		@mixin noTapHighlight;

		@media (--mobile-big){
			display: block;
		}

		&-agree{
			width: 50%;
			padding-right: 30px;

			@media (--mobile-big) {
				@mixin commentsHeaderMobile;
			}

			&-header{
				display: flex;
				justify-content: space-between;

				@media (--mobile-big) {
					@mixin commentsHeaderMobile;
					border: 2px solid $green;

				}

				&-title{
					font-weight: 700;

					@media(--mobile-small){
						font-size: 1.1em;
					}
				}

				&-arrow{
					display: none;

					@media (--mobile-big){
						display: block;
						padding: 0 30px;
					}
				}

				&-votes{
					display: flex;

					&-counter{
						color: $green;
						padding-right: $margin4-desktop;

						@media(--mobile-small){
							font-size: 1.1em;
						}
					}

					/* Agree icons*/
					&-icon{
						cursor: pointer;
						padding-top: 20px;

						&-liked{
							cursor: pointer;
							padding-top: 20px;
						}
					}
				}

			}
		}

		&-disagree{
			width: 50%;
			padding-left: 30px;

			@media (--mobile-big) {
				@mixin commentsHeaderMobile;
			}

			&-header{
				display: flex;
				justify-content: space-between;

				@media (--mobile-big) {
					@mixin commentsHeaderMobile;
					border: 2px solid $red;
				}

				&-title{
					font-weight: 700;

					@media(--mobile-small){
						font-size: 1.1em;
					}
				}

				&-arrow{
					display: none;

					@media (--mobile-big){
						display: block;
						padding: 0 30px;
					}
				}

				&-votes{
					display: flex;

					&-counter{
						color: $red;
						padding-right: $margin4-desktop;

						@media(--mobile-small){
							font-size: 1.1em;
						}
					}

					&-icon{
						padding-top: 20px;
						cursor: pointer;

						&-liked{
							padding-top: 20px;
							cursor: pointer;
						}
					}
				}
			}
		}

		&-buttons{
			display: flex;
			justify-content: space-between;

			&-comment{
				@mixin bigButton;
				width: 100%;
				padding: 10px;
				font-size: 1em;
			}

			&-comment:hover{
				background-color: $gray-soft;
				color: $blue-soft;
				border: 2px solid $blue-soft;
			}
		}
	}
}

#comentar-closeagree,
#comentar-closedisagree{
	color: $red;
	border: 2px solid $red;
}
