.Usuario_main_comments{
	
	&-stats{
		display: none;
		padding: 20px;
		margin-bottom: $margin2-mobile;
		justify-content: space-around;
		background-color: $gray-soft;

		@media (--tablet-small){
			display: flex;
		}

		@media (--mobile-small){
			padding: 20px 10px;
		}

		&-comments{
			display: flex;
			
			&-counter{
				margin: 0;
				margin-right: $margin5-desktop;

				@media (--mobile-small){
					font-size: .9em;
					margin-right: 6px;
				}
			}

			&-text{
				margin-right: 6px;
			}
		}

		&-thumbsup{
			display: flex;

			&-counter{
				margin: 0;
				margin-right: $margin5-desktop;

				@media (--mobile-small){
					font-size: .9em;
					margin-right: 6px;
				}
			}
		}
	}

	&-header{
		display: flex;
		justify-content: space-between;
		padding-bottom: $margin2-desktop;
		border-bottom: 2px solid $gray-soft;
		
		@media (--mobile-big){
			display: block;
			border-bottom: none;
			padding-bottom: 0;
		}

		&-title{
			margin: 0;
			font-size: $h2;

			@media (--mobile-big){
				margin-bottom: $margin2-mobile;
				text-align: center;
			}

		}

		&-order{
			
			@media (--mobile-big){
				display: flex;
				justify-content: space-around;
			}

			&-votes{
				@mixin normalButton;
				background: white;
				color: $black;
			}

			&-new{
				@mixin normalButton;
				background: $blue;
			}
		}

	}
	&-container{
		padding: $margin3-desktop;
	}
}