.Usuario_main_profile{
	display: flex;
	position: relative;
	padding-bottom: $margin2-desktop;
	border-bottom: 3px solid #f1f1f1;
	margin-bottom: $margin3-desktop;

	@media (--tablet-small){
		justify-content: center;
	}

	@media (--mobile){
		display: block;
		padding-bottom: $margin2-mobile;
	}

	&-info{
		box-sizing: border-box;

		&-username{
			margin: 0;
			margin-right: $margin3-desktop;
			font-size: $title;
			font-weight: 700;

			@media (--mobile){
				text-align: center;
				margin-right: 0;
				margin-bottom: $margin3-mobile;
			}
		}

		&-editar{
			@mixin normalButton;
			display: inline;
			position: absolute;
			right: 5%;
			bottom: 50px;
			text-decoration: none;

			@media (--tablet){
				right: 2%;
				padding: $margin5-desktop 20px;;
			}

			@media (--mobile){
				display: block;
				position: static;
				margin: 0 auto;
			}
		}

		&-editar:hover{
			@mixin hoverButton;
		}
	}
}
