.Usuario_main_profile{
	display: flex;
	position: relative;
	padding-bottom: $margin2-desktop;
	border-bottom: 3px solid #f1f1f1;
	
	@media (--tablet-small){
		justify-content: center;
	}

	@media (--mobile){
		display: block;
		padding-bottom: $margin2-mobile;
	}

	&-avatar{
		margin-right: $margin3-desktop;

		@media (--mobile){
			text-align: center;
			margin-right: 0;
			margin-bottom: $margin3-mobile;
		}

		img{
			width: 130px;
			border-radius: 50%;

			@media (--mobile){
				width: 100px;
			}
		}
	}

	&-info{

		box-sizing: border-box;
		&-main{
			display: flex;
			margin-bottom: 30px;

			@media (--mobile){
				display: block;
			}

			&-username{
				margin: 0;
				margin-right: $margin3-desktop;
				font-size: $title;
				font-weight: 700;

				@media (--mobile){
					text-align: center;
					margin-right: 0;
					margin-bottom: $margin3-mobile;
				}
			}

			&-location{
				margin-top: 17px;
				font-size: $h2;
				font-style: italic;

				@media (--mobile){
					text-align: center;
					margin: 0;
				}
			}
		}

		&-links{
			width: 100%;
			display: inline;

			@media (--mobile){
				margin-bottom: $margin3-mobile;
				display: flex;
				justify-content: space-around;
			}

			img{
				width: 30px;
				margin-right: $margin3-desktop;	

				@media (--tablet){
					margin-right: 15px;
				}
			}
		}
		&-editar{
			@mixin normalButton;
			display: inline;
			position: absolute;
			right: 5%;
			bottom: 50px;

			@media (--tablet){
				right: 2%;
				padding: $margin5-desktop 20px;;
			}

			@media (--mobile){
				display: block;
				position: static;
				margin: 0 auto;
			}
		}
	}
}