.Usuario_main_comments-card{
	padding-bottom: $margin3-desktop;
	border-bottom: 3px solid $gray-soft;
	margin-bottom: $margin4-desktop;

	&-title{
		margin: 0;
		margin-bottom: $margin3-desktop;

		@media (--mobile-big){
			font-size: 1.4em;
		}
	}

	&-text{
		margin: 0;
		padding-left: 10px;
		border-left: 5px solid $gray-soft;
		margin-bottom: $margin4-desktop ;
		line-height: $p-lh;
	}

	&-details{
		display: flex;
		justify-content: space-between;

		&-date{
			margin: 0;
			margin-top: 5px;
			font-size: $comment-card;
			font-style: italic;
		}

		&-like{
			display: flex;

			&-icon{
				background: no-repeat url(/img/sprite.svg) -2px -40px;
				background-size: auto;
				height: 15px;
				width: 15px;
				margin-top: 0;
				margin-right: 7px;
			}

			&-counter{
				margin: 0;
				font-size: $comment-card;
			}

			&-megusta{
				padding-left: 6px;
				margin: 0;
				font-size: $comment-card;
			}
		}
	}
}
