.Usuario_editar_data{
	width: 50%;
	margin: 0 auto;
	
	@media (--tablet-small){
		width: 100%;
	}

	&-title{
		margin: 0;
		margin-bottom: $margin3-desktop;

		@media (--tablet-small){
			margin-top: $margin1-mobile;
			margin-bottom: $margin3-mobile;
		}
	}

	&-form{

		label{
			input{
				@mixin formInput;
				display: block;
				margin: $margin4-desktop 0;
			}
		}

		&-currentpass{
			input{
				margin-bottom: 15px;
			}
		}

		&-error{
			@mixin errorMessage;
		}

		input[type="submit"]{
			@mixin normalButton;
		}

		input[type="submit"]:hover{
			@mixin hoverButton;
		}
	}
}
