form(method="POST" action="/createPost")
	label title
		input(type="text" name="title") 
	label date
		input(type="text" name="date") 
	label tags
		input(type="checkbox" name="tags" value="España")
		input(type="checkbox" name="tags" value="Internacional") 
		input(type="checkbox" name="tags" value="Francia")
	label subtitle
		input(type="text" name="subtitle")
	label agree
		input(type="text" name="agree")
	label disagreee
		input(type="text" name="disagree")
	input(type="submit" value="Subelo")
