form(method="POST" action="/api/createnew")
	label title
		input(type="text" name="title")
	br
	label subtitle
		input(type="text" name="subtitle")
		br
	label TAGS
		br
		label Espana
			input(type="checkbox" name="tags" value="España")
			br
		label Internacional
			input(type="checkbox" name="tags" value="Internacional")
			br
		label Francia
			input(type="checkbox" name="tags" value="Francia")
			br
		label Europa
			input(type="checkbox" name="tags" value="Europa")
			br
		label China
			input(type="checkbox" name="tags" value="China")
			br
		label Oriente Medio
			input(type="checkbox" name="tags" value="Oriente Medio")
			br
	textarea(type="text" name="media" placeholder="{elpais: 'url', elmundo: 'url'...}")
	br
	input(type="submit" value="Subelo")
