<%- include header -%>
<body>
  <div class="loader-container">
    <div class="loader"></div>
  </div>
  <div class="container">
    <div id="header-container"></div>
    <div id="main-container"></div>
  </div>
<%- include footer -%>
