.Details{
	display: flex;
	color: $gray;

	@media (--desktop){
		font-size: $p-tablet;
	}

	&-date{
		margin-right: $margin5-desktop;

		&-icon{
			margin-right: 5px;
			display: inline-block;
			background: no-repeat url(/img/sprite.svg) -96px -3px;
			background-size: auto;
			width: 13px;
			height: 13px;
		}

		&-text{
			@mixin tagsDesktop
		}
	}

	&-tags{

		&-icon{
			margin-right: 5px;
			display: inline-block;
			background: no-repeat url(/img/sprite.svg) -114px -2px;
			background-size: auto;
			width: 13px;
			height: 13px;
		}

		&-text{
			padding-right: 10px;
			a{
				@mixin tagsDesktop;
				text-decoration: none;
				transition: 0.3s;
			}

			a:hover{
				color: $blue;
			}
		}
	}
}
