.Navbar{
	border-bottom: 1px solid $gray-soft;
	display: flex;
	justify-content: space-between;
	padding: 10px 0;

	&-logo{
		background: no-repeat url(/img/sprite.svg) -2px -90px;
    background-size: auto;
    height: 30px;
    width: 100px;
    cursor: pointer;
		transition: 0.3s;
	}

	&-menu{
		display: flex;
		justify-content: flex-end;
		transition: 0.3s;

		@media (--tablet){
			padding-left: 0;
		}

		@media (--tablet-small){
			display: none;
		}

		&-item{
			height: 100%;
			padding: 0 $margin5-desktop;
			font-weight: 700;
			font-size: .8em;
			list-style-type: none;
			text-decoration: none;
			color: $blue;
			padding-top: 6px;
		}
	}

	&-icon{
		&-menu{
			display: none;
			background: no-repeat url('/img/sprite.svg') -64px -2px;
			background-size: auto;
			height: 30px;
			width: 30px;
			@mixin noTouchHightlight;

			@media (--tablet-small){
				display: inline-block;
			}
		}

		&-close{
			display: none;
			background: no-repeat url('/img/sprite.svg') -30px -2px;
			background-size: auto;
			height: 30px;
			width: 30px;
			padding-top: 3px;
			@mixin noTouchHightlight;
		}
	}

	&-search{
		display: flex;
		position: relative;

		&-input{
			@mixin formInput;
			position: absolute;
			right: 39px;
			top: -200px;
			width: 200px;
			transition: all .3s ease;
		}

		&-icon{
			background: no-repeat url('/img/sprite.svg') -138px -2px;
			background-size: auto;
			display:inline-block;
			height: 30px;
			width: 30px;
			cursor: pointer;
			margin-left: 10px;
			@mixin noTouchHightlight;
		}
	}
}

.search-active{
	top: 0;
	transition: all .3s ease;
}

.menu-search-active{
	padding-right: 200px;
}

.logo-search-active{
	@media (--tablet-small){
		opacity: 0;
		pointer-events: none;
	}
}
