#bg{
	height: 100vh;
	width: 100vw;
	left: 0;
	right: 0;
	display: none;
	position: absolute;
	background-color: black;
	opacity: 0.8;
	z-index: 2;
}

.Navbar_menu{
	display: block;
	position: absolute;
	padding: 10px;
	background: $gray;
	left: -999px;
	height: 100vh;
	z-index: 4;
	width: 50%;
	transition: all .3s cubic-bezier(0, 0, 0, 1.01);

	&-menu{
		padding: 0;

		&-item{
			height: 100%;
			display: flex;
			align-items: center;
			list-style-type: none;
			padding: 15px;
			margin: 15px 0;
			text-decoration: none;
			color: white;

			@media (--mobile-small){
				padding: 10px;
				margin: 10px 0;
			}

			a{
				@mixin navbar;
				text-decoration: none;
				color: white;
			}
		}

		&-item:nth-child(5){
			background-color: white;
			border-radius: $radius;
			color: $blue;
			font-weight: 700;
		}

		div{
			a{
				text-decoration: none;
			}
		}
	}
}

.active{
	display: block;
	left: 0px;
}