.Navbar{
	border-bottom: 1px solid $gray-soft;
	display: flex;
	justify-content: space-between;
	padding: 10px 0;

	&-logo{
		height: 30px;
		cursor: pointer;
	}

	&-menu{
		margin: 0;
		display: flex;
		justify-content: space-between;

		@media (--tablet){
			padding-left: 0;
		}

		@media (--tablet-small){
			display: none;
		}

		&-item{
			height: 100%;
			border-right: 1px solid $gray-soft;
			display: flex;
			align-items: center;
			list-style-type: none;
			padding: 0 $margin5-desktop;
			
			@media (--tablet){
				padding: 0 6px;
			}

			a{
				@mixin navbar;
				text-decoration: none;
				color: $black;
			}
		}

		&-item:nth-child(-n+4):hover{
			padding-bottom: 6px;
			border-bottom: blue solid 4px;

			a{
				color: $blue;
			}
		}

		&-item:nth-child(5), &-item:nth-child(6) {
			@mixin blueButton;
			border-right: none;
			border-radius: 10px;

			a{
				color: white;
			}
		}

		&-item:nth-child(5):hover, &-item:nth-child(6):hover{
			@mixin hoverButton;
		}	

		&-item:nth-child(5){
			margin-left: $margin5-desktop;
			border-radius: 10px;
		}
	}

	&-icon{
		&-menu{
			display: none;
			@mixin noTouchHightlight;

			@media (--tablet-small){
				display: block;
			}
		}

		&-close{
			display: none;
			height: 25px;
			padding-top: 3px;
			@mixin noTouchHightlight;
		}
	}

	&-search{
		display: flex;
		position: relative;

		&-input{
			@mixin formInput;
			position: absolute;
			top: 50px;
			left: 9999px;
			width: 200px;
			transition: all .3s ease;
		}

		&-icon{
			height: 30px;
			cursor: pointer;
			margin-left: 10px;
			@mixin noTouchHightlight;
		}
	}
}

.search-active{
	left: -150px;
	transition: all .3s ease;
}