.Register_cta{
	display: flex;
	justify-content: space-between;
	padding: $margin5-desktop;
	background-color: $gray-soft;
	border-radius: 5px;

	&-accede{
		@mixin bigButton;
		
		@media (--desktop){
			padding: $margin4-desktop 30px;
		}
		@media (--mobile-small){
			padding: $margin3-mobile 20px;
		}
	}

	&-participa{
		font-size: $h2;

		@media (--mobile){
			display: none;
		}
	}

	&-registrate{
		@mixin bigButton;

		@media (--desktop){
			padding: $margin4-desktop 30px;
		}

		@media (--mobile-small){
			padding: $margin3-mobile 20px;
		}
	}
}