.Login_form{
	display: block;
	margin: 0 auto;

	&-title{
		margin: 0;
		margin-bottom: $margin4-desktop;
		font-size: $title;

		@media (--tablet){
			font-size: 2em;
		}
	}

	&-subtitle{
		margin-bottom: $margin3-desktop;
		font-size: $p;
		line-height: $p-lh;
	}

	&-form{
		margin-bottom: 30px;

		input[type=text],
		input[type=password]{
			@mixin formInput;
			margin-top: $margin5-desktop;
			margin-bottom: $margin5-desktop;
			width: 100%;
		}

		&-error{
			@mixin errorMessage;
			margin-top: 10px;
		}

		&-submit{
			@mixin blueButton;
			padding: 10px 20px;
			font-weight: 700;
			display: block;
			margin: 0 auto;
		}

		&-submit:hover{
			@mixin hoverButton;
		}
	}

	&-signup{
		&-title{
			text-align: center;
			a{
				text-decoration: none;
				color: $blue;
				transition: 0.3s;
			}

			a:hover{
				color: $blue-soft;
			}
		}
	}
}
