.Signup_form{

	@media(--tablet-small){
		width: 100%;
	}

	&-title{
		margin: 0;
		margin-bottom: $margin4-desktop;
		font-size: $title;

		@media (--tablet){
			font-size: 2em;
		}
	}

	&-form{

		&-input-container{
			padding-top: 10px;
		}

		input[type=text],
		input[type=email],
		input[type=password]{
			@mixin formInput;
			margin-top: $margin5-desktop;
			margin-bottom: 10px;
		}

		&-error{
			@mixin errorMessage;
		}

		&-submit{
			@mixin normalButton;
			@mixin blueButton;
			display: block;
			margin: 0 auto;
			margin-top: 20px;
		}

		&-submit:hover{
			@mixin hoverButton;
		}
	}

	&-login{

		a{
			text-decoration: none;
			color: $blue;
			transition: 0.3s;
		}
		
		a:hover{
			color: $blue-soft;
		}
	}
}
