<div id="search" class="Search">
  <h1 class="Search-title">Buscar</h1>
  <h2 class="Search-subtitle">Resultados de: Algo</h2>
  <div class="Search-card">
    <h3 class="Search-card-title">
      China advierte a Trump del riesgo de confrontación si bloquea a las islas artificiales
    </h3>
    <div class="Search-card-details">
      <div class="Search-card-details-left">
        <span class="Search-card-details-left-date">24/02/2017</span>
        <span class="Search-card-details-left-votes">Votos:201</span>
      </div>
      <div class="Search-card-details-right">
        <img src="" alt="" class="Search-card-details-right-up-img" />
        <span class="Search-card-details-right-up-votes">100</span>
        <span class="Search-card-details-right-down-votes">101</span>
        <img src="" alt="" class="Search-card-details-right-down-img" />
      </div>
    </div>
  </div>
</div>
