.Details{
	display: flex;
	color: $gray;
	
	@media (--desktop){
		font-size: $p-tablet;
	}

	&-date{
		margin-right: $margin5-desktop;

		&-icon{
			margin-right: $margin5-desktop;
			width: 15px;
			fill: $gray;

			@media (--desktop){
				width: 12px;
			}
		}

		&-text{
			@mixin tagsDesktop
		}
	}

	&-tags{
		
		&-icon{
			margin-right: $margin5-desktop;
			width: 15px;

			@media (--desktop){
				width: 12px;
			}
		}

		&-text{
			@mixin tagsDesktop;
		}
	}
}