.Feed{
	display: flex;
	flex-wrap: wrap;
	padding-top: $margin2-desktop;

	&-article{
		width: 47%;
		padding-bottom: $margin3-desktop;
		box-shadow: 0px 24px 3px -24px #ccc;
		margin-bottom: $margin2-desktop;

		&-title{
			margin: 0;
			margin-bottom: $margin4-desktop;
		}

		&-bars{
			margin-top: $margin3-desktop;
			margin-bottom: $margin4-desktop;
		}

		&-button{
			@mixin normalButton;
		}
	}

	.par{
		padding-left: 15px;
	}

	.impar{
		padding-right: 15px;
		border-right: 1px solid $gray-soft;
	}
}