<div class="Aside_temas">
	<h2 class="Aside_temas-title">Temas más votados</h2>
	<div class="Aside_temas-tema">
		<p class="Aside_temas-tema-title">Renzi dimite en Italia a pesar del las ventajas de las encuestas</p>
		<div class="Aside_temas-tema-info">
			<span class="Aside_temas-tema-info-votes">1300 votos</span>
			<span class="Aside_temas-tema-info-balance">-42</span>
		</div>
	</div>
	<div class="Aside_temas-tema">
		<p class="Aside_temas-tema-title">Renzi dimite en Italia a pesar del las ventajas de las encuestas</p>
		<div class="Aside_temas-tema-info">
			<span class="Aside_temas-tema-info-votes">1300 votos</span>
			<span class="Aside_temas-tema-info-balance">-42</span>
		</div>
	</div>
	<div class="Aside_temas-tema">
		<p class="Aside_temas-tema-title">Renzi dimite en Italia a pesar del las ventajas de las encuestas</p>
		<div class="Aside_temas-tema-info">
			<span class="Aside_temas-tema-info-votes">1300 votos</span>
			<span class="Aside_temas-tema-info-balance">-42</span>
		</div>
	</div>
	<div class="Aside_temas-tema">
		<p class="Aside_temas-tema-title">Renzi dimite en Italia a pesar del las ventajas de las encuestas</p>
		<div class="Aside_temas-tema-info">
			<span class="Aside_temas-tema-info-votes">1300 votos</span>
			<span class="Aside_temas-tema-info-balance">-42</span>
		</div>
	</div>
	<div class="Aside_temas-tema">
		<p class="Aside_temas-tema-title">Renzi dimite en Italia a pesar del las ventajas de las encuestas</p>
		<div class="Aside_temas-tema-info">
			<span class="Aside_temas-tema-info-votes">1300 votos</span>
			<span class="Aside_temas-tema-info-balance">-42</span>
		</div>
	</div>
</div>