<div class="Aside_registrate">
	<h2 class="Aside_registrate-title">Regístrate</h2>
	<p class="Aside_registrate-subtitle">
		Únete a la comunidad, vota y comparte tu opinión. ¡Queremos escucharte!
	</p>
	<form class="Aside_registrate-form" action="">
		<label for="">Nombre usuario: 
			<input type="text">
		</label>
		<label for="">Email: 
			<input type="email">
		</label>
		<label for="">Contraseña: 
			<input type="password">
		</label>
		<input class="Aside_registrate-form-button" type="submit" value="Regístrate">
	</form>
	<button class="Aside_registrate-facebook">Regístrate con Facebook</button>
	<button class="Aside_registrate-google">Regístrate con Google</button>

</div>