<div class="Feed">
	<article class="Feed-article impar">
		<h2 class="Feed-article-title">Es necesaria la subida de impuestos del PP?</h2>
		{{> details}}
		<div class="Feed-article-bars">
			{{> votes_bar}}
		</div>
		<button class="Feed-article-button">Ver más</button>
	</article>
	<article class="Feed-article par">
		<h2 class="Feed-article-title">Es necesaria la subida de impuestos del PP?</h2>
		{{> details}}
		<div class="Feed-article-bars">
			{{> votes_bar}}
		</div>
		<button class="Feed-article-button">Ver más</button>
	</article>
	<article class="Feed-article impar">
		<h2 class="Feed-article-title">Es necesaria la subida de impuestos del PP?</h2>
		{{> details}}
		<div class="Feed-article-bars">
			{{> votes_bar}}
		</div>
		<button class="Feed-article-button">Ver más</button>
	</article>
	<article class="Feed-article par">
		<h2 class="Feed-article-title">Es necesaria la subida de impuestos del PP?</h2>
		{{> details}}
		<div class="Feed-article-bars">
			{{> votes_bar}}
		</div>
		<button class="Feed-article-button">Ver más</button>
	</article>
</div>