<div class="Login_form">
	<h1 class="Login_form-title">Accede a tu cuenta</h1>
	<h3 class="Login_form-subtitle">Accede a tu cuenta a través de Facebook, Google, o tu email</h3>
	<div class="Login_form-social">
		<button class="Login_form-social-facebook">Accede con Facebook</button>
		<button class="Login_form-social-google">Accede con Google</button>
	</div>
	<form action="" class="Login_form-form">
		<label for="" class="Login_form-form-name">Nombre de usuario o email: </br>
			<input type="text" placeholder="Introduzca su nombre de usuario o email" />
		</label>
		<label for="" class="Login_form-form-password">Contraseña: </br>
			<input type="password" />
		</label>
		<input class="Login_form-form-submit" type="Submit" value="Accede">
	</form>
</div>