<nav class="Navbar">
	<img src="img/menu.svg" alt="menu" class="Navbar-icon-menu">
	<img class="Navbar-logo" src="img/logo.svg" alt="logo">
	<ul class="Navbar-menu">
		<li class="Navbar-menu-item"><a href="#">HOME</a></li>
		<li class="Navbar-menu-item"><a href="#">ESPAÑA</a></li>
		<li class="Navbar-menu-item"><a href="#">INTERNACIONAL</a></li>
		<li class="Navbar-menu-item"><a href="#">ECONOMÍA</a></li>
		<li class="Navbar-menu-item"><a href="#">ACCEDE</a></li>
		<li class="Navbar-menu-item"><a href="#">REGISTRATE</a></li>
	</ul>
	<img src="img/search.svg" alt="search" class="Navbar-icon-search">
</nav>