<nav class="Navbar">
	<a href="./index.html"><img src="img/menu.svg" alt="menu" class="Navbar-icon-menu" /></a>
	<img src="img/cancel-circle.svg" alt="close" class="Navbar-icon-close">
	<img class="Navbar-logo" src="img/logo.svg" alt="logo">
	<ul class="Navbar-menu">
		<li class="Navbar-menu-item"><a href="./index.html">HOME</a></li>
		<li class="Navbar-menu-item"><a href="#">ESPAÑA</a></li>
		<li class="Navbar-menu-item"><a href="#">INTERNACIONAL</a></li>
		<li class="Navbar-menu-item"><a href="#">ECONOMÍA</a></li>
		<li class="Navbar-menu-item"><a href="./login.html">ACCEDE</a></li>
		<li class="Navbar-menu-item"><a href="./signup.html">REGISTRATE</a></li>
	</ul>
	<div class="Navbar-search">
		<input type="search" class="Navbar-search-input">
		<img src="img/search.svg" alt="search" class="Navbar-search-icon">
	</div>
</nav>
{{> navbar_menu-mobile}}