<div class="Noticia_comentarios_list-order">
	<div class="Noticia_comentarios_list-order-votes">
		<p>Más votado</p>
	</div>
	<div class="Noticia_comentarios_list-order-new">
		<p>Más nuevos</p>
	</div>
</div>
<div class="Noticia_comentarios_list-comments">
	{{> noticia_comentarios_card}}
	{{> noticia_comentarios_card}}
	{{> noticia_comentarios_card}}
	{{> noticia_comentarios_card}}
	{{> noticia_comentarios_card}}
	{{> noticia_comentarios_card}}
	<div class="Noticia_comentarios_list-comments-create">
		<textarea name="create" id="textarea-" cols="30" rows="10"></textarea>
		<div class="Noticia_comentarios_list-comments-create-buttons">
			<button class="Noticia_comentarios_list-comments-create-buttons-enviar">Enviar</button>
			<button class="Noticia_comentarios_list-comments-create-buttons-cancelar">Cancelar</button>
		</div>
	</div>
</div>