<section class="Noticia_informate">
	<h2 class="Noticia_informate-encabezado">
		Infórmate
	</h2>
	<div class="Noticia_informate-media">
		<a href="#">
			<img src="./img/el-pais.svg" alt="" class="Noticia_informate-media-item">
		</a>
		<a href="#">
			<img src="./img/el-mundo.svg" alt="" class="Noticia_informate-media-item">
		</a>
		<a href="#">
			<img src="./img/abc.svg" alt="" class="Noticia_informate-media-item">
		</a>
		<a href="#">
			<img src="./img/usa-today.svg" alt="" class="Noticia_informate-media-item">
		</a>
		<a href="#">
			<img src="./img/the-guardian.svg" alt="" class="Noticia_informate-media-item">
		</a>
		<a href="#">
			<img src="./img/le-figaro.svg" alt="" class="Noticia_informate-media-item">
		</a>
	</div>
</section>