<div class="Noticia_comentarios_list">
	<div class="Noticia_comentarios_list-order">
		<div class="Noticia_comentarios_list-order-votes">
			<p>Más votado</p>
		</div>
		<div class="Noticia_comentarios_list-order-new">
			<p>Más nuevos</p>
		</div>
	</div>
	<div class="Noticia_comentarios_list-comments">
		<!-- COMENTARIOS -->
	</div>
	<div class="Noticia_comentarios_list-buttons">
		<button class="Noticia_comentarios_list-buttons-agree">A favor</button>
		<button class="Noticia_comentarios_list-buttons-comment">Comentar</button>
	</div>
</div>