<section class="Noticia_cuerpo">
	<h2 class="Noticia_cuerpo-breadcrumb">España</h2>
	<h1 class="Noticia_cuerpo-title">Renzi dimitirá esta tarde tras la aprobación de los presupuestos</h1>
	{{> details}}
	<h4 class="Noticia_cuerpo-entradilla">Antes, sobre las 17.30, el todavía primer ministro comparecerá ante la dirección nacional del Partido Democrático (PD), del que es secretario general, para informar de la situación. Una reunión que se prevé tensa por cuanto el sector crítico del partido de centroizquierda ha hecho campaña por el no a las reformas constitucionales que pretendía Renzi</h4>
	{{> votes_bar}}
</section>