<section class="Noticia_comentarios">
	<h2 class="Noticia_comentarios-encabezado">Participa</h2>
	<div class="Noticia_comentarios-comentarios">
		<div class="Noticia_comentarios-comentarios-up">
			<div class="Noticia_comentarios-comentarios-up-header">
				<h2 class="Noticia_comentarios-comentarios-up-header-title">A Favor</h2>
				<h2 class="Noticia_comentarios-comentarios-up-header-votes">+23</h2>
				<img src="#" alt="" class="Noticia_comentarios-comentarios-up-header-icon">
			</div>
			{{> noticia_comentarios_list}}
		</div>
		<div class="Noticia_comentarios-comentarios-down">
			<div class="Noticia_comentarios-comentarios-down-header">
				<h2 class="Noticia_comentarios-comentarios-down-header-title">En Contra</h2>
				<h2 class="Noticia_comentarios-comentarios-down-header-votes">-23</h2>
				<img src="#" alt="" class="Noticia_comentarios-comentarios-down-header-icon">
			</div>
			{{> noticia_comentarios_list}}
		</div>
	</div>
</section>