<section class="Noticia_comentarios">
	<h2 class="Noticia_comentarios-encabezado">Participa</h2>
	<div class="Noticia_comentarios-comentarios">
		<div class="Noticia_comentarios-comentarios-agree">
			<div class="Noticia_comentarios-comentarios-agree-header">
				<h2 class="Noticia_comentarios-comentarios-agree-header-title">A Favor</h2>
				<h2 class="Noticia_comentarios-comentarios-agree-header-votes">2</h2>
				<img src="img/thumbs-up-green.svg" alt="" class="Noticia_comentarios-comentarios-agree-header-icon">
			</div>
			<div class="Noticia_comentarios_list" id="Noticia_comentarios-agree">
				{{> noticia_comentarios_list}}
			</div>
			<div class="Noticia_comentarios-comentarios-buttons">
				<button class="Noticia_comentarios-comentarios-buttons-agree">A favor</button>
				<button class="Noticia_comentarios-comentarios-buttons-comment">Comentar</button>
			</div>
		</div>
		<div class="Noticia_comentarios-comentarios-disagree">
			<div class="Noticia_comentarios-comentarios-disagree-header">
				<h2 class="Noticia_comentarios-comentarios-disagree-header-title">En Contra</h2>
				<h2 class="Noticia_comentarios-comentarios-disagree-header-votes">23</h2>
				<img src="img/thumbs-down.svg" alt="" class="Noticia_comentarios-comentarios-disagree-header-icon">
			</div>
			<div class="Noticia_comentarios_list" id="Noticia_comentarios-disagree">
				{{> noticia_comentarios_list}}
			</div>
			<div class="Noticia_comentarios-comentarios-buttons">
				<button class="Noticia_comentarios-comentarios-buttons-disagree">En contra</button>
				<button class="Noticia_comentarios-comentarios-buttons-comment">Comentar</button>
			</div>
		</div>
	</div>
</section>