<div class="Noticias_comentarios_card">
	<div class="Noticias_comentarios_card-user">
		<img src="" alt="" class="Noticias_comentarios_card-user-avatar">
		<p class="Noticias_comentarios_card-user-username">pegido</p>
		<p class="Noticias_comentarios_card-user-date">4 diciembre 2016</p>
	</div>
	<p class="Noticias_comentarios_card-comment">Un adolescente afgano ha sido detenido este domingo en Friburgo después de haber matado a 10 personas racistas.</p>
	<div class="Noticias_comentarios_card-feedback">
		<p class="Noticias_comentarios_card-feedback-reply">Responder</p>
		<div class="Noticias_comentarios_card-like">
			<img src="" alt="" class="Noticias_comentarios_card-feedback-icon">
			<p class="Noticias_comentarios_card-feedback-counter">10 me gusta</p>
		</div>
	</div>
</div>