<section class="Noticia_informate">
	<h2 class="Noticia_informate-encabezado">
		Infórmate
	</h2>
	<div class="Noticia_informate-media">
		<a class="Noticia_informate-media-item" href="#">
			<div><img src="img/media/el-pais.svg" alt="" /></div>
		</a>
		<a class="Noticia_informate-media-item" href="#">
			<div><img src="img/media/el-mundo.svg" alt="" /></div>
		</a>
		<a class="Noticia_informate-media-item" href="#">
			<div><img src="img/media/the-guardian.svg" alt="" /></div>
		</a>
		<a class="Noticia_informate-media-item" href="#">
			<div><img src="img/media/the-new-york-times.svg" alt="" /></div>
		</a>
	</div>
</section>