<div class="Signup_form">
	<h1 class="Signup_form-title">¡Regístrate y opina!</h1>
	<h3 class="Signup_form-subtitle">Regístrate y podrás votar y opinar en todos los temas. ¡No te llevará más de 2 minutos!</h3>
	<div class="Signup_form-social">
		<button class="Signup_form-social-facebook">Regístrate con Facebook</button>
		<button class="Signup_form-social-google">Regístrate con Google</button>
	</div>
	<form action="" class="Signup_form-form">
		<label for="" class="Signup_form-form-name">Nombre de usuario: </br>
			<input type="text" placeholder="Introduzca su nombre de usuario" />
		</label>
		<label for="" class="Signup_form-form-email">Email: </br>
			<input type="email" placeholder="Introduzca su correo electrónico"/>
		</label>
		<label for="" class="Signup_form-form-password">Contraseña: </br>
			<input type="password" />
		</label>
		<input class="Signup_form-form-submit" type="Submit" value="¡Regístrame!">
	</form>
</div>