<div class="Usuario_main_comments">
	<!--User Stats -- Same as aside -->
	<div class="Usuario_main_comments-stats">
		<div class="Usuario_main_comments-stats-comments">
			<h3 class="Usuario_main_comments-stats-comments-counter">17</h3>
			<span class="Usuario_main_comments-stats-comments-text">Comentarios</span>
		</div>
		<div class="Usuario_main_comments-stats-thumbsup">
			<h3 class="Usuario_main_comments-stats-thumbsup-counter">17</h3>
			<span class="Usuario_main_comments-stats-thumbsup-text">Valoraciones</span>
		</div>
	</div>
	<!-- User comments -->
	<div class="Usuario_main_comments-header">
		<h2 class="Usuario_main_comments-header-title">Mis comentarios</h2>
		<div class="Usuario_main_comments-header-order">
			<button class="Usuario_main_comments-header-order-votes">Más votados</button>
			<button class="Usuario_main_comments-header-order-new">Más nuevos</button>
		</div>
	</div>
	<div class="Usuario_main_comments-container">
		{{> usuario_main_comments-card}}
		{{> usuario_main_comments-card}}
	</div>
</div>