<div class="Usuario_editar_data">
	<h2 class="Usuario_editar_data-title">Mis datos</h2>
	<form action="" class="Usuario_editar_data-form">
		<label class="Usuario_editar_data-form-username" for="">Nombre de usuario:<input type="text" /></label>
		<label class="Usuario_editar_data-form-email" for="">Correo electrónico:<input type="email" /></label>
		<label class="Usuario_editar_data-form-newpass" for="">Nueva contraseña:<input type="password" /></label>
		<label class="Usuario_editar_data-form-newpass2" for="">Repita la nueva contraseña:<input type="password" /></label>
		<label class="Usuario_editar_data-form-currentpass" for="">Contraseña actual:<input type="password" /></label>
		<input type="submit" class="Usuario_editar_data-form-submit" value="Actualizar">
	</form>
</div>