@import './variables.css';

/*
*******TYPE
*/

@define-mixin navbar {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1em;
}

@define-mixin tagsDesktop {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1em;
	font-style: italic;
	color: $gray;
}

@define-mixin sectionDivider {
	font-family: 'Fira Sans', sans-serif;
	font-size: $h2;
	font-weight: 700;
	font-style: italic;
	color: $gray;
}

/*
***********LAYOUT
*/

@define-mixin bigButton {
	padding: $margin4-desktop 50px;
	background-color: $blue;
	border-radius: $radius;
	color: white;
	font-size: $h3;
	font-weight: 700;
	border: none;
	cursor: pointer;
}