@import './variables.css';

/*
*******TYPE
*/

@define-mixin navbar {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1em;
}

@define-mixin tagsDesktop {
	font-family: 'Fira Sans', sans-serif;
	font-size: .9em;
	font-style: italic;
	color: $gray;
}

@define-mixin sectionDivider {
	font-family: 'Fira Sans', sans-serif;
	font-size: $h2;
	font-weight: 700;
	font-style: italic;
	color: $gray;
}

/*
***********LAYOUT
*/

/* ---------------- Buttons -----------*/
@define-mixin blueButton {
	border-radius: $radius;
	background-color: white;
	color: $blue;
	border: 2px solid #5b86ff;
	cursor: pointer;
	transition: 0.4s;
}

@define-mixin bigButton {
	padding: $margin4-desktop 50px;
	@mixin blueButton;
	font-size: $h3;
	font-weight: 700;
}

@define-mixin normalButton {
	padding: $margin5-desktop 30px;
	@mixin blueButton;
	font-size: $p;
	font-weight: 700;
}

@define-mixin hoverButton {
	background-color: $gray-soft;
	color: $blue-soft;
	border: 2px solid $blue-soft;
}

@define-mixin socialMediaButton {
	padding: $margin5-desktop 30px;
	border-radius: $radius;
	color: white;
	font-size: $p;
	font-weight: 700;
	border: none;
	cursor: pointer;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	transition: 0.4s;
}

/* ---------------- Inputs ------------*/

@define-mixin formInput {
	display: block;
	padding: 6px;
	width: 100%;
	box-sizing: border-box;
	border-radius: $radius;
	background-color: $gray-soft;
	border: none;
	border: 2px solid $gray;
}

/* -----------------Desktop aside Layout ----------------*/

@define-mixin asideContainer {
	border-top: 11px solid $gray;
	padding-top: $margin4-desktop;
	padding-bottom: $margin4-desktop;
	border-bottom: 3px solid $gray-soft;
	margin-bottom: $margin2-desktop;
}

/* ----------------- Votes bar effects ----------------*/

@define-mixin voteBarRed{

	background: #e05357; /* Old browsers */
	background: -moz-linear-gradient(top,  #e05357 0%, #e0141b 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e05357 0%,#e0141b 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e05357 0%,#e0141b 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e05357', endColorstr='#e0141b',GradientType=0 ); /* IE6-9 */
}

@define-mixin voteBarGreen{
	background: #86cc86; /* Old browsers */
	background: -moz-linear-gradient(top,  #86cc86 0%, #3dcc3d 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #86cc86 0%,#3dcc3d 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #86cc86 0%,#3dcc3d 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86cc86', endColorstr='#3dcc3d',GradientType=0 ); /* IE6-9 */
	transition: 3s;
}

/* ------------------- Avoids effects on mobile interaction ------------*/

@define-mixin noTouchHightlight{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

@define-mixin noTapHighlight{
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* ----------------- Others -------------------*/

@define-mixin boxShadow{
	-webkit-box-shadow: -4px -1px 61px -14px rgba(0,0,0,0.56);
	-moz-box-shadow: -4px -1px 61px -14px rgba(0,0,0,0.56);
	box-shadow: -4px -1px 61px -14px rgba(0,0,0,0.56);
}

@define-mixin commentsHeaderMobile{
	margin-bottom: $margin2-mobile;
	width: 100%;
	padding-right: 0;
	padding: 0 $margin3-mobile;
	border-radius: $radius;
	box-sizing: border-box;
	cursor: pointer;
}

@define-mixin removeAnchorStyles{
	color: white;
	text-decoration: none;
}
