@import './variables.css';

/*
*******TYPE
*/

@define-mixin navbar weight {
	/*font-family: fira;*/
	font-size: 1em;
	font-weight: weight;
}

@define-mixin tagsDesktop {
	/*font-family: fira;*/
	font-size: 1em;
	font-style: italic;
	color: $gray;
}

@define-mixin sectionDivider {
	/*font-family: fira;*/
	font-size: $h2;
	font-weight: 700;
	font-style: italic;
	color: $gray;
}

/*
***********LAYOUT
*/

