.Aside_profile{
	@mixin asideContainer;

	&-title{
		@mixin sectionDivider;
		margin: 0;
		margin-bottom: $margin5-desktop;
	}

	&-username{
		text-align: center;
	}

	&-buttons{
		display: flex;
		justify-content: space-around;

		&-edit, &-logout{
			@mixin normalButton;
			font-size: .8em;
			padding: 10px;
			text-decoration: none;
			color: $blue;
		}

		&-edit:hover, &-logout:hover{
			@mixin hoverButton;
		}
	}
}
