.Aside_registrate{
	@mixin asideContainer;

	&-title{
		@mixin sectionDivider;
		margin: 0;
		margin-bottom: $margin5-desktop;
	}

	&-subtitle{
		margin: 0;
		margin-bottom: $margin4-desktop;
		line-height: 1.33em;
	}

	&-form{
		display: block;
		padding-bottom: $margin4-desktop;
		border-bottom: 1px solid $gray-soft;

		label{
			margin-bottom: $margin4-desktop;

			input[type="text"],
			input[type="email"],
			input[type="password"]
			{
				@mixin formInput;
				margin-top: $margin5-desktop;
				margin-bottom: $margin4-desktop;
			}
		}

		&-button{
			@mixin blueButton;
			padding: 15px 20px;
			font-weight: 700;
			display: block;
			margin: 0 auto;
		}

		&-button:hover{
			@mixin hoverButton;
		}
	}
}
