.Aside_registrate{
	@mixin asideContainer;
	
	&-title{
		@mixin sectionDivider;
		margin: 0;
		margin-bottom: $margin5-desktop;
	}

	&-subtitle{
		margin: 0;
		margin-bottom: $margin4-desktop;
		line-height: 1.33em;
	}

	&-form{
		display: block;
		padding-bottom: $margin4-desktop;
		border-bottom: 1px solid $gray-soft;

		label{
			margin-bottom: $margin4-desktop;

			input{
				@mixin formInput;
				margin-top: $margin5-desktop;
				margin-bottom: $margin4-desktop;
			}
		}

		&-button{
			@mixin normalButton;
			display: block;
			margin: 0 auto;
		}

		&-button:hover{
			@mixin hoverButton;
		}	
	}

	&-facebook{
		@mixin socialMediaButton;
		background-color: #3b5998;
		margin-top: $margin4-desktop;
		margin-bottom: $margin3-desktop;

		@media (--tablet){
			font-size: $p-tablet;
		}
	}

	&-facebook:hover{
		opacity: .9;
	}

	&-google{
		@mixin socialMediaButton;
		background-color: #f44336;

		@media (--tablet){
			font-size: $p-tablet;
		}
	}

	&-google:hover{
		opacity: .9;
	}
}