  <h3>Medios</h3>
  <h5 class="available-media">Disponibles (usar este nombre): abc, bild, corriere-della-sera, elmundo, elpais, larazon, la-republica, le-figaro, le-monde, the-daily-telegraph, the-guardian, the-new-york-times, the-washington-post, usa-today</h5>
  <textarea type="text" name="media" placeholder="{&quot;elpais&quot;: &quot;url&quot;, &quot;elmundo&quot;: &quot;url&quot;...}"><%= media %></textarea><br/>
  <input type="submit" value="Subelo"/>
</form>
