<label>Title<br/>
  <input type="text" name="title" value="<%= title %>"/>
</label><br/>
<label>Subtitle<br/>
  <textarea type="text" name="subtitle"><%= subtitle %></textarea><br/>
</label>
<label>Password
  <input type="password" name="password" placeholder="password"/><br/>
</label>
