<h3>Tags (serán las etiquetas de la noticia)</h3>
<div class="tags">
  <div class="first-column">
    <label>Espana
      <input type="checkbox" name="tags" value="España"/><br/>
    </label>
    <label>Internacional
      <input type="checkbox" name="tags" value="Internacional"/><br/>
    </label>
    <label>Francia
      <input type="checkbox" name="tags" value="Francia"/><br/>
    </label>
    <label>Europa
      <input type="checkbox" name="tags" value="Europa"/><br/>
    </label>
    <label>China
      <input type="checkbox" name="tags" value="China"/><br/>
    </label>
    <label>Oriente Medio
      <input type="checkbox" name="tags" value="Oriente Medio"/><br/>
    </label>
  </div>
  <div class="second-column">
    <label>Reino Unido
      <input type="checkbox" name="tags" value="Reino Unido"/><br/>
    </label>
    <label>Africa
      <input type="checkbox" name="tags" value="Africa"/><br/>
    </label>
    <label>Rusia
      <input type="checkbox" name="tags" value="Rusia"/><br/>
    </label>
    <label>Madrid
      <input type="checkbox" name="tags" value="Madrid"/><br/>
    </label>
    <label>Alemania
      <input type="checkbox" name="tags" value="Alemania"/><br/>
    </label>
    <label>Italia
      <input type="checkbox" name="tags" value="Italia"/><br/>
    </label>
  </div>
</div>
