.Feed{
	display: flex;
	flex-wrap: wrap;
	padding-top: $margin2-desktop;

	@media (--tablet){
		display: block;
	}

	@media (--mobile){
		padding-top: $margin1-mobile;
	}

	&-article{
		padding: 15px;
		width: 50%;
		box-sizing: border-box;
		padding-bottom: $margin3-desktop;
		box-shadow: 0px 24px 3px -24px #ccc;
		margin-bottom: $margin2-desktop;

		@media (--tablet){
			width: 100%;
		}

		&-title{
			margin: 0;
			margin-bottom: $margin4-desktop;
		}

		&-bars{
			margin-top: $margin3-desktop;
			margin-bottom: $margin4-desktop;
		}

		&-button{
			@mixin normalButton;
			@mixin removeAnchorStyles;
			text-align: center;
			width: 25%;
			color: $blue;

			@media(--tablet){
				display: block;
				margin: 0 auto;
			}
		}

		&-button:hover{
			@mixin hoverButton;
		}
	}

	.par{
		padding-left: 15px;

		@media (--tablet){
			padding-left: 0;
		}
	}

	.impar{
		padding-right: 15px;
		border-right: 1px solid $gray-soft;

		@media (--tablet){
			padding-right: 0;
			border: none;
		}
	}
}
